#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: #f5f5f5;
}
/* .header {
  font-size: 2rem;
  margin-bottom: 1rem;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.button {
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.button-add {
  background: #4caf50;
  margin: 10px;
}

.button-edit {
  background: #2196f3;
}

.button-delete {
  background: #f44336;
  margin-left: auto;
}


.todo {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px 12px;
  margin-bottom: 8px;

  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
}

.todo-buttons {
  display: flex;
  gap: 6px;
  margin-left: auto;
}

input {
  padding: 8px 10px;
  font-size: 14px;
}
